<div id="<%= dom_id developer %>">
  <p>
    <strong>Username:</strong>
    <%= developer.username %>
  </p>

  <p>
    <strong>First name:</strong>
    <%= developer.first_name %>
  </p>

  <p>
    <strong>Last name:</strong>
    <%= developer.last_name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= developer.email %>
  </p>

  <p>
    <strong>Manager:</strong>
    <%= developer.manager_id %>
  </p>

  <p>
    <strong>Admin:</strong>
    <%= developer.admin_id %>
  </p>

</div>
