<div id="<%= dom_id comment %>">
  <p>
    <strong>Message:</strong>
    <%= comment.message %>
  </p>

  <p>
    <strong>User:</strong>
    <%= comment.user_id %>
  </p>

  <p>
    <strong>Developer:</strong>
    <%= comment.developer_id %>
  </p>

  <p>
    <strong>Manager:</strong>
    <%= comment.manager_id %>
  </p>

  <p>
    <strong>Admin:</strong>
    <%= comment.admin_id %>
  </p>

  <p>
    <strong>Project:</strong>
    <%= comment.project_id %>
  </p>

  <p>
    <strong>Ticket:</strong>
    <%= comment.ticket_id %>
  </p>

</div>
