<div id="<%= dom_id manager %>">
  <p>
    <strong>Username:</strong>
    <%= manager.username %>
  </p>

  <p>
    <strong>First name:</strong>
    <%= manager.first_name %>
  </p>

  <p>
    <strong>Last name:</strong>
    <%= manager.last_name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= manager.email %>
  </p>

  <p>
    <strong>Admin:</strong>
    <%= manager.admin_id %>
  </p>

</div>
