<div id="<%= dom_id project %>">
  <p>
    <strong>Title:</strong>
    <%= project.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= project.description %>
  </p>

  <p>
    <strong>User:</strong>
    <%= project.user_id %>
  </p>

  <p>
    <strong>Developer:</strong>
    <%= project.developer_id %>
  </p>

  <p>
    <strong>Manager:</strong>
    <%= project.manager_id %>
  </p>

  <p>
    <strong>Admin:</strong>
    <%= project.admin_id %>
  </p>

</div>
